<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Calculator</title>
</head>
<body>
    <div class="center">
        <h1>Django Calculator</h1>
    <form action="result">
        <input type="number" name="number1" placeholder="number1"><br>
        <input type="number" name="number2" placeholder="number2"><br><br>
        <button type="submit" name="add">Add</button>
        <button type="submit" name="subtract">Subtract</button>
        <button type="submit" name="multiply">Multiply</button>
        <button type="submit" name="divide">Divide</button>
        <button type="submit" name="power">Power</button>
    </form>
</div>
<style>
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
    }
</style>
</body>
</html>